@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@400;500;600;700;800&display=swap');

@import "./variables.css";

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    font-family:var(--body-font);
    background:var(--background-color);
    color:var(--text-color);

}

img{

    width:100%;
    display:block;

}

a{

    text-decoration:none;
    color:inherit;

}

ul{

    list-style:none;

}

button{

    border:none;
    outline:none;
    cursor:pointer;
    font-family:inherit;

}

input,
textarea{

    font-family:inherit;

}

.container{

    width:min(90%, var(--container-width));
    margin:auto;

}

section{

    padding:90px 0;

}

h1,h2,h3,h4{

    font-family:var(--heading-font);
    color:var(--primary-dark);

}

p{

    color:var(--text-light);
    line-height:1.8;

}
